<h1>Rock! Paper! Scissors!</h1>
<form action='/results' method='get'>
  <div class="form-group">
  <label>Player One Choice!</label>
    <input id="player_one_choice" name="player_one_choice" class="form-control" type="text">
  <br>
  <label>Player Two Choice!</label>
    <input id="player_two_choice" name="player_two_choice" class="form-control" type="text">
  </div>
<button type="submit" class="btn btn-success">Play!</button>
</form>
