<h1>Player 1 chose this: <%= @player_one_choice %></h1>
<h1>Player 2 chose this: <%= @player_two_choice %></h1>

<h1>The winner is: <%= @results %></h1>

<a href="/"><button type="button" class="btn btn-success">Back!</button></a>
